<!-- new.html.erb -->
<body id="login_page_body">
  <%#= link_to "Sign in with Google", '/auth/google_oauth2' %>
  
  <div class = "welcome-header">
  <div id = "welcome">
    <h1> Calbook </h1>
    
  </div>

    
  <div id="welcome-blurb">
      <!-- <h2> A simple lifelogging utility. </h2> -->
      <img src="http://paulcbrunson.com/wp-content/uploads/2014/01/SmilingSelfie.jpg">
      <h3> Keep a journal with a built-in calendar. </h3>
 </div>
 </div>

 <div id="buttons"> 
 <a href='#' id="signup_button"> Sign Up</a>
 <a href='#' id="login_button">Login</a>
</div>



<!-- Isolation Zone -->

<!-- <div id="login_signup_container">


<div id="login_form"><h1> LOGIN </h1>
  <%#= form_for(@user,{url:sessions_path}) do |f| %> 
   <%#= f.text_field :email, :placeholder => "Email", :class => "input_field" %>
   <%#= f.password_field :password, :placeholder => "password", :class => "input_field" %>
   <%#= f.submit "submit", :class => "submit_button", :id => "submit_login_button"%>
  <%# end %>
  <!-- <span class = "close_login_button">cancel</span> -->
<!-- </div>

<div id="signup_form"> <h1> SIGNUP </h1> -->
  <%#= form_for(@user) do |f| %>
  <%#= f.text_field :fullname, :placeholder => "Full Name", :class => "input_field" %>
  <%#= f.text_field :email, :placeholder => "create email", :class => "input_field" %>
  <%#= f.password_field :password, :placeholder => "create password", :class => "input_field" %>
  <%#= f.password_field :password_confirmation, :placeholder => "confirm password", :class => "input_field"%>
  <%#= f.submit "submit", :class => "submit_button", :id => "submit_signup_button" %>
  <%# end %>
  <!-- <span class = "close_signup_button">cancel</span> -->
<!-- </div>
</div> --> 

<!-- END Isolation Zone-->

<!-- 
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> --> 

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">LOGIN</h4>
      </div>
      <div class="modal-body" id="login">
        <div id="login_form">
   <%= form_for(@user,{url:sessions_path}) do |f| %> 
   <%= f.text_field :email, :placeholder => "Email", :class => "input_field" %>
   <%= f.password_field :password, :placeholder => "password", :class => "input_field" %>
   <%= f.submit "submit", :class => "submit_button", :id => "submit_login_button"%>
  <% end %>
  <!-- <span class = "close_login_button">cancel</span> -->
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <!--     <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">SIGN UP</h4>
      </div>
      <div class="modal-body" id="sign-up">
     <div id="signup_form"> <h1>  </h1>
  <%= form_for(@user) do |f| %>
  <%= f.text_field :fullname, :placeholder => "Full Name", :class => "input_field" %>
  <%= f.text_field :email, :placeholder => "create email", :class => "input_field" %>
  <%= f.password_field :password, :placeholder => "create password", :class => "input_field" %>
  <%= f.password_field :password_confirmation, :placeholder => "confirm password", :class => "input_field"%>
  <%= f.submit "submit", :class => "submit_button", :id => "submit_signup_button" %>
  <% end %>
  <!-- <span class = "close_signup_button">cancel</span> -->
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <!--     <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>



</body>

