<!-- new.html.erb -->

<div id="login_form">
  <%= form_for(@user,{url:sessions_path}) do |f| %> 
  <%= f.text_field :username, :placeholder => "username", :class => "input_field" %>
  <%= f.password_field :password, :placeholder => "password", :class => "input_field" %>
  <%= f.submit "submit", :class => "submit_button", :id => "submit_login_button"%>
  <% end %>
  <span class = "close_login_button">cancel</span>
</div>

<div id="signup_form">
  <%= form_for(@user) do |f| %>
  <%= f.text_field :username, :placeholder => "create username", :class => "input_field" %>
  <%= f.password_field :password, :placeholder => "create password", :class => "input_field" %>
  <%= f.password_field :password_confirmation, :placeholder => "confirm password", :class => "input_field"%>
  <%= f.submit "submit", :class => "submit_button", :id => "submit_signup_button" %>
  <% end %>
  <span class = "close_signup_button">cancel</span>
</div>

