<%= form_for (@day) do |f| %>
  <!--   <h1><%#= @day.date %></h1> -->
<h1>Events</h1> 
  <div class = "events"><%= render "events/form" %></div>

<h1>Blurb </h1>
   <div class = "blurbs"><%= render "blurbs/form" %></div>

<h1>Images</h1>
	<div class = "images"><%= render "image_videos/form" %></div>

<h1> Videos </h1>
	<div class = "videos"><%= render "image_videos/form" %></div>

<%end%>




