
<div id="calendar-container">
  <div id="calendar"></div>
</div>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dayShowModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="dayShowModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%# @days.each do |day|%>

        <h4 class="modal-title" id="modalTitle"><%= @day.date %></h4>
      </div>
      <div class="modal-body" id="modalBody">
        ...
    <input type= "text" value="date" id="dateId" >

    <%#= binding.pry %>
      <%= form_for @day, url: {action:"create"} do |d| %>
        events:
        <div>
         
          <%= d.hidden_field :user_id, value: current_user.id %>
         
          <%= d.fields_for :events do |events_form| %>

           <%= d.hidden_field :day_id, value: @day.id %>
            <%= events_form.text_field :title, placeholder: 'title' %>
            <%= events_form.text_field :text, placeholder: 'text' %>
            <%= events_form.datetime_field :start_time, placeholder: 'start_time' %>
            <%= events_form.datetime_field :end_time, placeholder: 'end_time' %>  
          <% end %>
        </div>
        blurbs:
        <div>
          <%= d.fields_for :blurbs do |blurbs_form| %>

           <%= d.hidden_field :day_id, value: @day.id %>
          <%= blurbs_form.text_field :text, placeholder: 'text'  %>
          <% end %>
        </div>
        image_videos:
        <div>
          <%= d.fields_for :image_videos do |image_form| %>

           <%= d.hidden_field :day_id, value: @day.id %>
              <%= image_form.file_field :media, placeholder: 'media'  %>
              <%= image_form.text_field :caption, placeholder: 'caption'  %>
          <% end %>
        </div>

         
      <%= d.submit %>
      <%end%>
    <%#end%>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id= "save-day">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script>




</script>
 













