
<div id="user_header">
    <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log Out", new_session_path("current") %>
  <% else %>
      <%= link_to "Sign_up", new_session_path %>
    <% end %>
  </div>
<div id="calendar-container">
  <div id="calendar"></div>
</div>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dayShowModal">
  Launch demo modal
</button> -->

<!-- Modal -->

      <!--   ... -->
    

    <%#= binding.pry %>
<!--     <div style="display:none"> -->
      <% @days.each do |d| %>
      
        <div class="modal fade" id="dayShowModal<%= d.date %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%# @days.each do |day|%>

        <h4 class="modal-title" id="modalTitle"><%= d.date %></h4>
      </div>
      <div class="modal-body" id="modalBody">

        <%= form_for d, {html:{name:d.date.to_s}} do |f| %>
      <%#=f.text_field :date, value: d.date %>
      <div class = "events_form">
      My Events:
        <%= f.hidden_field :user_id, value: current_user.id %>  <%= f.hidden_field :date, value: d.date %>
      
        <%= f.fields_for :events do |events_form| %>

      
          <div id= "event_title"><%= events_form.text_field :title, placeholder: 'title' %></div>
          <div id= "event_description"> <%= events_form.text_field :text, placeholder: 'text' %></div>
          <div id="event_start"><%= events_form.datetime_field :start_time, placeholder: 'start_time'%></div>
          <div id= "event_end"><%= events_form.datetime_field :end_time, placeholder: 'end_time' %></div>
        <% end %>
      </div>
          
      <div class= "blurbs_form">
          <!-- blurbs: -->
        What did you do today?:
          
        <%= f.fields_for :blurbs do |blurbs_form| %>
       
          <div id= "blurb"><%= blurbs_form.text_field :text, placeholder: 'text'  %></div>
          <% end %>
      </div>
          
      <div class= "image_videos_form">
        image_videos:
        
        <%= f.fields_for :image_videos do |image_form| %>

         
          <div id="media"><%= image_form.file_field :media, placeholder: 'media'  %></div>
          <div id="caption"><%= image_form.text_field :caption, placeholder: 'caption'  %></div>
        <% end %>
      </div>

           
          <%= f.submit %>
        <%end%>
         </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id= "save-day">Save changes</button>
      </div>
    </div>
  </div>
</div>
      <%end%>
   


     


<script>




</script>
 



















