
<div id="user_header">
    <% if current_user != nil %>
    Logged in as <%= current_user.email %>
    <%= link_to "Log Out", new_session_path("current") %>
</div>

<!-- CALENDAR BODY -->
<div id="calendar-container">
  <div id="calendar"></div>
</div>

<!-- DAYS MODAL FORM -->
<%@days.each do |d| %>    
  <div class="modal fade" id="dayShowModal<%= d.date %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
        <h4 class="modal-title" id="modalTitle"><%= d.date.to_formatted_s(:long) %>
        </h4>
       <!--  .readable_inspect as alt method for showing date in title -->
       </div>
  

  <!-- MODAL BODY STARTS HERE -->
  <div class="modal-body" id="modalBody">
  <!--   <div id="modal-day"><%#=d.date%></div> -->
    <%= form_for d do |f| %>
     <div id= "image_videos_form">
        <%= image_tag d.image_videos[0].media.url(:large  ) %>

          <!-- <div id="caption"><%#= image_form.text_field :caption, placeholder: 'caption'  %></div> -->
     </div>

     <div id= "blurbs_form">

          <!-- blurbs: -->
        <%= f.fields_for :blurbs do |blurbs_form| %>
          <div id="blurb"><%= blurbs_form.text_area :text, placeholder: 'How was your day?', size: "100x4",rows: 3 %></div>
        <% end %>

    </div>
</div>
<!-- MODAL BODY ENDS HERE -->  
      

  <div class="modal-footer">
    <div class="load-images">
          <%= f.fields_for :image_videos do |image_form| %>
          <div id="media" input id="uploadImage" type="file" name="myPhoto">
            <%= image_form.file_field :media, placeholder: 'media'%>
            <!-- <input type="file"/> -->
            <%= image_form.submit "Add Image" %>
          </div>
          <% end %>
        
   </div>
   <div class="submit-button"><%= f.submit %>
        </div>
        <%end%>
       
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

  <!-- <button type="button" class="btn btn-primary" id= "save-day">Save changes</button> -->
  </div>
  </div>
  </div>
  </div>
<%end%>
   



 <% else %>
      <%= link_to "Sign_up", new_session_path %>
<% end %>
 




















