<h1><%= @day.date %></h1>

<h1>Events</h1> 
	<%= render "events/form" %> 

<h1>Blurb </h1>
    <%= render "blurbs/form" %>

<h1>Images</h1>
	<%= render "image_videos/form" %>

<h1> Videos </h1>
	<%= render "image_videos/form" %>

